<footer class="bg-dark text-white pt-5 pb-3">
  <div class="container">
    <div class="overflow-hidden mb-3 d-lg-none">
      <div class="row gx-5">
        <div class="col">
          <div class="p-3 bg-dark">
            <h5>NEWSLETTER</h5>
            <!-- <p>SIGN UP FOR OUR NEWSLETTER TO GET THE LATEST UPDATES AND OFFERS.</p> -->
            <form action="#" method="post">
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Enter your email" required
                  style="font-family: 'Blinker';">
                <button class="btn subscrive" type="submit" style="font-family: 'Blinker';">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col">
          <div class="p-3 bg-dark">
            <h5>SHOP LOCATION</h5>
            <!-- <p>SIGN UP FOR OUR NEWSLETTER TO GET THE LATEST UPDATES AND OFFERS.</p> -->
            <form action="#" method="post">
              <div class="input-group">
                <span class="input-group-text" id="store-icon">
                  <i class="bi bi-shop"></i>
                </span>
                <input type="text" class="form-control" placeholder="Enter your location" aria-label="Store locator" aria-describedby="store-icon">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- About Section -->
      <div class="col">
        <h5>The Company</h5>
        <ul class="list-unstyled">
          <li><a class="text-white">ABOUT US</a></li>
          <li><a class="text-white">PRESS</a></li>
          <li><a class="text-white">SUSTAINABILITY</a></li>
          <li><a class="text-white">RUNWAYS</a></li>
          <li><a class="text-white">ASSOSIATIONS</a></li>
          <li><a class="text-white">CARRER</a></li>
        </ul>
      </div>

      <!-- Quick Links Section -->
      <div class="col">
        <h5>NEED HELP</h5>
        <ul class="list-unstyled">
          <li><a class="text-white">CONTACT US</a></li>
          <li><a class="text-white">BOOK AN APPOINTMENT</a></li>
          <li><a class="text-white">SHIPPING</a></li>
          <li><a class="text-white">FAQ'S</a></li>
          <li><a class="text-white">STOCKLIST</a></li>
        </ul>
      </div>

      <!-- Contact Section -->
      <div class="col">
        <h5>LEGAL</h5>
        <ul class="list-unstyled">
          <li><a class="text-white">PRIVACY AND COOKIES</a></li>
          <li><a class="text-white">FEES AND PAYMENT</a></li>
          <li><a class="text-white">TERMS AND CONDITION</a></li>
        </ul>
      </div>

      <!-- Newsletter Section -->
      <div class="col d-sm-none d-md-none d-lg-block">
        <h5>NEWSLETTER</h5>
        <!-- <p>SIGN UP FOR OUR NEWSLETTER TO GET THE LATEST UPDATES AND OFFERS.</p> -->
        <form action="#" method="post">
          <div class="input-group">
            <input type="email" class="form-control" placeholder="Enter your email" required
              style="font-family: 'Blinker';">
            <button class="btn subscrive" type="submit" style="font-family: 'Blinker';">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
          </div>
        </form>
        <br><br>
        <h5>SHOP LOCATION</h5>
            <!-- <p>SIGN UP FOR OUR NEWSLETTER TO GET THE LATEST UPDATES AND OFFERS.</p> -->
            <form action="#" method="post">
              <div class="input-group">
                <span class="input-group-text" id="store-icon">
                  <i class="bi bi-shop"></i>
                </span>
                <input type="text" class="form-control" placeholder="Enter your location" aria-label="Store locator" aria-describedby="store-icon">
              </div>
            </form>
      </div>
    </div>

    <hr class="my-4">

    <div class="row">
      <!-- Social Media Links -->
      <div class="col text-center">
        <a href="#" class="text-white mx-2">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="#" class="text-white mx-2">
          <i class="bi bi-twitter"></i>
        </a>
        <a href="#" class="text-white mx-2">
          <i class="bi bi-instagram"></i>
        </a>
        <a href="#" class="text-white mx-2">
          <i class="bi bi-pinterest"></i>
        </a>
      </div>
    </div>

    <div class="text-center mt-3">
      <p style="cursor: default;">&copy; 2024 FashionStore. All rights reserved.</p>
    </div>
  </div>
</footer>